<form action="/admin" method="POST" class="well form-inline">
  <input name="login" type="text" class="input-small" placeholder="Login">
  <input name="password" type="password" class="input-small" placeholder="Password">
  <button type="submit" class="btn-primary">Sign in</button>
</form>

<%= @message %>
